<div class='new'>
  <h3>Create Section</h3>

  <form>
    {{#each filteredColumns as |column|}}
      <div class="model-column {{column}}">
        <label>
          {{column}}
          {{admin-input record=this columnValue=column}}
        </label>
      </div>
    {{/each}}
    <div class="model-column description">
        <label>
	    description
	    {{quill-editor body=model.description}}
	</label>
    </div>
    <div class="model-column description">
        <label>
 	    {{md-textarea label='(source code)' value=model.description class="col s12"}}
	</label>
    </div>
    <div class="model-column publish">
        <label>
	    {{md-input-date label='Publish' value=model.publish class="col s12"}}
	</label>
    </div>
    <div class="model-column hidden">
        <label>
	    {{md-check name="Hide" checked=model.hide}}
	</label>
    </div>
    <br/><br/>
    {{async-button action="save" default="Save" pending="Saving..." fulfilled="Saved" rejected="Error" class="save"}}
    <button {{action "cancel"}} class="cancel">Cancel</button>
  </form>
</div>
